.todoItem {
    width: 250px;
    margin: 0 auto 10px;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
}

.todoDeleteButton{
    border-style: none;
    background-color: white
}